<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GustavByCocktail Player</title>
    <link href="../../../../client/css/style.css">
</head>
<body>

<% include ../home.ejs %>

<h2>Holocubes</h2>

<% if(role === "superAdmin") { %>

<form method="post">

    <a href="/admin/holocube/new">Créer un nouvel holocube</a><br><br>

    <input type="submit" value="Supprimer la sélection">

    <table>
        <tr>
            <th>Nom</th>
            <th>Adresse IP</th>
            <th>Mot de passe</th>
            <th>Client</th>
            <th>Playlist</th>
        </tr>

        <% holocubes.forEach(function(holocube) { %>
            <tr>
                <td><%= holocube.nomHolocube %></td>
                <td><%= holocube.adresseIP %></td>
                <td><%= holocube.mdp %></td>
                <td><% utilisateurs.forEach(function(utilisateur) {if(holocube.utilisateurId === utilisateur.id){%> <%=utilisateur.username%> <%}})%></td>
                <td><% playlists.forEach(function(playlist) {if(holocube.playlistId === playlist.id){%> <%=playlist.nomPlaylist%> <%}})%></td>
                <td><a href="/admin/holocube/<%= holocube.id %>/edit">Modifier</a></td>
                <td><a href="/admin/holocube/<%= holocube.id %>/delete">Supprimer</a></td>
                <td><input type="checkbox" name="supprimer" value="<%= holocube.id %>"></td>
            </tr>
        <% }); %>
    </table>
</form>
<% } else {%>
    <table>
        <tr>
            <th>Nom</th>
            <th>Adresse IP</th>
            <th>Mot de passe</th>
            <th>Playlist</th>
        </tr>
        <% holocubes.forEach(function(holocube) { if(holocube.utilisateurId === currentUser.id) {%>
        <tr>
            <td><%= holocube.nomHolocube %></td>
            <td><%= holocube.adresseIP %></td>
            <td><%= holocube.mdp %></td>
            <td><% playlists.forEach(function(playlist) {if(holocube.playlistId === playlist.id){%> <%=playlist.nomPlaylist%> <%}})%></td>
        </tr>
        <% }}); %>
    </table>
<% } %>

<% if (err) { %>
<span style="color:red">Il y a eu un problème lors de la suppression, veuillez recommencer</span>
<% } %>

<% if (forbidden) { %>
<span style="color:red">Vous n'avez pas l'autorisation nécessaire pour supprimer un holocube</span>
<% } %>

</body>
</html>